    .FirstBlock {
        background: url('../../img/firstBlock/firstBlock_history.jpg') no-repeat center center;
        /* min-height:100%; */
        background-size: cover;
        padding: 90px 0;
    }

    .HistoryPageText_texts {
        display: grid;
        padding: 54px 0 91px;
        gap: 24px;
    }

/* currentProjects */

    .currentProjectsTexts {
        display: grid;
        justify-content: center;
        text-align: center;
    }

    .currentProjectsTexts_subtittle {
        width: 778px;
    }

.currentProjectsObjects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
padding: 37px;
}

.categories{
    width: 351px;
height: 464px;
flex-shrink: 0;
border-radius: 10px;
background: #F1F1F1;
padding: 32px;
}  

.categoriesTittle{
padding: 16px 0 6px;
}

.categoriesImg{
    justify-content: center;
}
