/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  font-family: Inter;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Inter;
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2 {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  color: #1F0402;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FirstBlock*/

.FirstBlock_tittle {
  text-align: center;
}